<h2>Submit Link</h2>
<%= form_for @link do |f| %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit "Submit" %>
<% end %>

<h2>Search/Filter</h2>
<div>
  Search: <input type="text" name="search" id="search">
  <button id="btn-search">Search</button><br>

  Status:
  <select name="status-select" id="status-select">
    <option value="">Select status</option>
    <option value="true">Read</option>
    <option value="false">Unread</option>
  </select>

  <button id="btn-atoz">A to Z</button>
  <button id="btn-ztoa">Z to A</button>
</div>

<h2>My Links</h2>
<div id="links">
  <% if @links %>
    <%= render @links %>
  <% else %>
    Submit a link above.
  <% end %>
</div>

<%= javascript_include_tag "links/update" %>
