<h2>Recommend Link</h2>
<%= form_tag "/recommend" do %>
  <div class="form-group">
    <%= label_tag "Email address" %>
    <%= text_field_tag "email_address", nil, class: "form-control" %>
  </div>
  <%= hidden_field_tag "id", @link.id %>
  <%= submit_tag "Submit", class: "btn btn-default" %>
<% end %>
